@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  @apply bg-white text-slate-900;
}

.font-poppins {
  font-family: var(--font-poppins), system-ui, sans-serif;
}
